body {
  background-color: #111111;
  color: #f9f9f9;
  font-family: 'Playfair Display', serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  color: #D4AF37;
  font-weight: bold;
}

.navbar {
  background-color: #222;
  border-bottom: 1px solid #333;
}

.navbar-brand {
  color: #D4AF37 !important;
  font-weight: 700;
  font-size: 1.5rem;
}

.nav-link {
  color: #f9f9f9 !important;
  font-weight: 500;
}

.btn-primary {
  background-color: #D4AF37;
  border: none;
  color: #111;
}

.btn-primary:hover {
  background-color: #c49b2d;
  color: #000;
}

.card {
  background-color: #1a1a1a;
  border: 1px solid #333;
  color: #fff;
}

.card-title {
  color: #D4AF37;
  font-size: 1.1rem;
  font-weight: 600;
}

.text-gold {
  color: #D4AF37;
}

.cart-page {
  min-height: 70vh;
  /* Valor de separación con el footer */
}

.notfound {
  min-height: 70vh;
}

.nav-link.active {
  font-weight: bold;
  color: #D4AF37;
  border-bottom: 2px solid #D4AF37;
}

.reseñas {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
  min-height: 80vh;
}

.reseña {
  background-color: black;
  padding: 1rem;
  border-left: 4px solid #c89b3c;
  border-radius: 5px;
}